pandas==3.0.1
numpy==2.4.2
scipy==1.12.0
scikit-learn==1.8.0
imbalanced-learn==0.14.1
gensim==4.3.1
nltk==3.9.4
emoji==2.11.1
langchain-core==0.2.36=== Pipeline de Topic Modeling & Clustering ===
Datos cargados con éxito: 10000 filas.
- Clasificando sentimientos...
- Aplicando NLTK (Stopwords y Stemming)...
- Generando bigramas...

- [MÉTODO DEL CODO] Calculando inercias para negativa...
Gráfico del codo guardado en C:\Users\danit\Desktop\Sistemas de Apoyo a la Decisión\SAD_ProyectoBumble\clustering\output\codo_negativa.png

- [COHERENCIA LDA] Evaluando modelos desde K=2 hasta K=10 para críticas negativa...
  * K=4 -> Coherencia: 0.5233
  * K=5 -> Coherencia: 0.4997
  * K=6 -> Coherencia: 0.5198
  * K=7 -> Coherencia: 0.4789
  * K=8 -> Coherencia: 0.4822
  * K=9 -> Coherencia: 0.4724
  * K=10 -> Coherencia: 0.4732
  > ¡K óptimo encontrado de forma automática!: 4

Top Palabras por Tópico (Modelo Ganador K=4):
  > Tópico 0: pay, like, money, premium, profil, free, subscript, scam, messag, use
  > Tópico 1: account, show, open, block, tri, use, ban, want, never, profil
  > Tópico 2: premium, work, profil, cancel, charg, day, account, servic, get, tri
  > Tópico 3: swipe, profil, filter, day, say, men, delet, photo, limit, keep
Datos guardados en C:\Users\danit\Desktop\Sistemas de Apoyo a la Decisión\SAD_ProyectoBumble\clustering\output\tableau_lda_negativa.csv

- [MÉTODO DEL CODO] Calculando inercias para neutra...
Gráfico del codo guardado en C:\Users\danit\Desktop\Sistemas de Apoyo a la Decisión\SAD_ProyectoBumble\clustering\output\codo_neutra.png

- [COHERENCIA LDA] Evaluando modelos desde K=2 hasta K=10 para críticas neutra...
  * K=4 -> Coherencia: 0.3264
  * K=5 -> Coherencia: 0.3290
  * K=6 -> Coherencia: 0.2859
  * K=7 -> Coherencia: 0.3100
  * K=8 -> Coherencia: 0.3096
  * K=9 -> Coherencia: 0.2812
  * K=10 -> Coherencia: 0.2882
  > ¡K óptimo encontrado de forma automática!: 5

Top Palabras por Tópico (Modelo Ganador K=5):
  > Tópico 0: good, like, profil, mani, nice, better, find, give, great, swipe
  > Tópico 1: subscript, pay, think, women, show, want, yet, compliment, profil, keep
  > Tópico 2: work, use, issu, still, need, day, tri, week, messag, help
  > Tópico 3: free, filter, premium, pleas, pay, featur, girl, get, money, price
  > Tópico 4: ok, expens, cool, want, free, see, girl, pay, money, star
Datos guardados en C:\Users\danit\Desktop\Sistemas de Apoyo a la Decisión\SAD_ProyectoBumble\clustering\output\tableau_lda_neutra.csv

- [MÉTODO DEL CODO] Calculando inercias para positiva...
Gráfico del codo guardado en C:\Users\danit\Desktop\Sistemas de Apoyo a la Decisión\SAD_ProyectoBumble\clustering\output\codo_positiva.png

- [COHERENCIA LDA] Evaluando modelos desde K=2 hasta K=10 para críticas positiva...
  * K=4 -> Coherencia: 0.3554
  * K=5 -> Coherencia: 0.3739
  * K=6 -> Coherencia: 0.3736
  * K=7 -> Coherencia: 0.3991
  * K=8 -> Coherencia: 0.4076
  * K=9 -> Coherencia: 0.4271
  * K=10 -> Coherencia: 0.3905
  > ¡K óptimo encontrado de forma automática!: 9

Top Palabras por Tópico (Modelo Ganador K=9):
  > Tópico 0: good, great, thank, meet, amaz, awesom, girl, fun, thumb, ok
  > Tópico 1: nice, enjoy, red_heart, smile_face, use, person, heart, add_lot, valu_experi, make_use
  > Tópico 2: best, better, give, app, premium, free, messag, still, pay, featur
  > Tópico 3: need, help, work, friend, site, profil, okay, ask, feel, servic
  > Tópico 4: far, lot, convers_tend, feel_meaning, experi, alway, someth_appreci, easi, super, enjoy
  > Tópico 5: love, cool, like, yet, happi, real, limit, ladi, new, look
  > Tópico 6: option, filter, want, delet, find, feel_safer, compar_app, wow, experi, someth
  > Tópico 7: life, wonder, chang, hand, woman, match, found_love, found, less_overwhelm, notic_feel
  > Tópico 8: chat, search, could, app, abl, man, other, stuff, around, still
Datos guardados en C:\Users\danit\Desktop\Sistemas de Apoyo a la Decisión\SAD_ProyectoBumble\clustering\output\tableau_lda_positiva.csv

=== Proceso completado. ===
langchain-ollama==0.1.3
matplotlib>=3.7.0
colorama==0.4.6
tqdm==4.67.3